html {
  box-sizing: border-box;
}

.stream-container {
  border: 10px solid transparent;
  border-radius: 15px;
  padding: 0;
}

.MALE {
  @apply border-[#33C4D7];
}

.FEMALE {
  @apply border-[#fa3689];
}

.video-hidden {
  display: none;
}

video {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 10px;
}

.streamcomponent {
  position: relative;
  border-radius: 15px;
  padding: 0;
}

.chosen-stream {
  background-image: url("/img/heart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  opacity: 0.5;
}

.video-container {
  display: grid;
  padding-top: 2vh;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 20px;
  margin: 0 20vw;
}

.love-stick {
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a d"
    "b e"
    "c f";
  gap: 20px 20vw;
  padding-top: 20vh;
  margin: 0 25vw;
  min-width: 40vw;
  margin-bottom: 10vh;
  bottom: 20px;
}

.one-one-four {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    ". . c d e f . .";
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

@keyframes growArrow {
  from {
    width: 0;
  }
  to {
    width: var(--arrow-width);
  }
}

.arrow-container {
  position: absolute;
  transform-origin: left center;
  z-index: -1;
}

.arrow-body {
  height: 5px;
  transform-origin: left center;
  position: relative;
  width: 0;
}

.arrow-head {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -8px;
  right: -15px;
  transform: rotate(90deg);
}

.cam-wrapper {
  height: 100%;
  width: 100%;
  padding-bottom: 75%;
}

.choose-btn {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.choose-btn:hover {
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  cursor: pointer;
}

.hidden {
  display: none;
}

.black-white {
  filter: grayscale(100%);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.streamcomponent .nickname {
  @apply px-[4px] absolute bg-transparent text-[#777777] font-bold mt-[0.8rem];
}

p {
  margin: 0;
}


.bright-5 {
  filter: brightness(0.5);
}

.highlighted {
  border: 10px solid #00ff95;
  filter: brightness(1);
  transition: none !important;
}
