html {
  box-sizing: border-box;
}

.stream-container {
  border: 3px solid transparent;
  border-radius: 15px;
  padding: 0;
}

.streamcomponent.speaking {
  @apply shadow-lg shadow-green-300;
}

.MALE {
  @apply border-[#33C4D7];
}

.FEMALE {
  @apply border-[#fa3689];
}

.video-hidden {
  display: none;
}

video {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 10px;
}

.streamcomponent {
  position: relative;
  border-radius: 15px;
  padding: 0;
}

.chosen-stream {
  background-image: url("/img/heart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  opacity: 0.5;
}

.video-container {
  display: grid;
  padding-top: 30px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  margin: 0 10vw;
}

.love-stick {
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a d"
    "b e"
    "c f";
  gap: 20px 20vw;
  margin: 0 20vw;
  min-width: 40vw;
  margin-bottom: 10vh;
  bottom: 20px;
}

.one-one-four {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    ". . c d e f . .";
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}

.arrow-container {
  position: absolute;
  transform-origin: left center;
  z-index: 2;
}
.arrow-body {
  background-color: #fa3689;
  height: 10px;
  transform-origin: left center;
  position: relative;
}
.arrow-head {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fa3689;
  position: absolute;
  top: -5px;
  right: -15px;
  transform: rotate(90deg);
}

.keyword-wrapper {
  width: 100%;
  height: 100px;
}

.keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  height: 100%;
}

.cam-wrapper {
  height: 100%;
  width: 100%;
  padding-bottom: 75%;
}

.choose-btn {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.choose-btn:hover {
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  cursor: pointer;
}

.hidden {
  display: none;
}

.black-white {
  filter: grayscale(100%);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.streamcomponent .nickname {
  /* position: absolute; */
  @apply px-[5px] absolute bg-transparent text-[#777777] rounded-[4px] font-bold;
  /* color: #ffffff; */
  /* font-weight: bold;
  border-bottom-right-radius: 4px; */
}
p {
  margin: 0;
}

.highlighted {
  box-sizing: border-box;
  border: 5px solid #ff6b6b;
  border-radius: 15px;
  padding: 0;
}
