@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fae4c9;
  background-image: url("/img/background_img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.presentation-mode {
  @apply grid-cols-5 grid-rows-3;
  grid-template-areas:
    "a a a a a"
    "a a a a a"
    "b c d e f";
}

@layer utilities {
  .scrollbar-custom {
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 0.375rem; /* rounded-md */
    }
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Edge */
    }
  }
}
